<launch>
    <arg name="sam_type" default="gsam" doc="Can be either gsam, dino or sam."/>
    <arg name="venv" default="/usr/bin/python" doc="Path to python environment."/>
    <arg name="box_threshold" default="0.35" doc="Min confidence threshold for box."/>
    <arg name="text_threshold" default="0.25" doc="Min confidence threshold for text."/>

    <include file="$(find grounding_sam_ros)/launch/$(arg sam_type).launch">
        <arg name="venv" value="$(arg venv)" />
        <arg name="box_threshold" value="$(arg box_threshold)"/>
        <arg name="text_threshold" value="$(arg text_threshold)"/>
    </include>

</launch>